{% extends 'base.html' %}

{% block content %}
<header>
  <h3 style="font-weight: bold">Profile</h3>
</header>
<br>
<div class='profile'>
  {% if profile %}
  <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1rem; justify-content: center">
    <div class="profile-left">
      <img style="height: 500px" src="{{profile.image.url}}" alt="">
      <h4>{{profile.name}}</h4>
      <p>{{profile.company}}</p>
      <a href="#" class="btn btn-lg btn-info">Add Experiences</a>
      <a href="#" class="btn btn-lg btn-dark">Add Educations</a>
    </div>
    <div class="profile-right">
      Profile details here
    </div>
  </div>
  {% else %}
  <p class='lead text-muted'>No profiles found..</p>
  {% endif %}
</div>
{% endblock %}