/* Global Section */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: #eaeaea;
}

.page-heading {
  font-weight: bold !important;
}

.p-display-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media Screen and (max-width: 1000px) {
  .p-display-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media Screen and (max-width: 778px) {
  .p-display-grid {
    grid-template-columns: 1fr !important;
  }
}