{% extends 'base.html' %}

{% block content %}
<header class="mb-5">
  <h3 style="font-weight: bold" class="page-heading">Products</h3>
  <hr>
</header>
<div class="p-display-grid">
  {% if not products %}
  <p class="lead text-muted">No products added yet..<p>
      {% else %}
      {% for product in products %}
      <div class="card">
        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">${{product.price}}</p>
          <div class="text-center">
            <a href="{{product.get_like_url}}" class="btn btn-sm btn-outline-info">
              Like
              <i class="far fa-thumbs-up"></i>
              <span style="border-radius: 1rem" class="px-2 bg-danger text-light">  
                {{ product.like_set.all|length }}
              </span>
            </a>
            <a href="{{product.get_unlike_url}}" class="btn btn-sm btn-outline-info">
              Unlike
              <i class="far fa-thumbs-down"></i>
            </a>
            <br><br>
            <div class="btn-group">
              <a href="{{product.get_absolute_url}}" class="btn btn-outline-primary">Details</a>
              <a href="{{product.get_add_to_cart_url}}" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
</div>
{% endblock %}